/* @import url('https://fonts.googleapis.com/css2?family=Praise&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Praise&family=Space+Mono:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Praise&family=Shippori+Antique&family=Space+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shippori+Antique&display=swap');

body {
  font-family: 'Space Mono';
  background-color: #FFC300;
}

.container {
  margin: 0 auto 2.5em;
  max-width: 512px; /*768px;*/
}
.logo {
  width: 100px;
  height: 100px;
  margin: 2em 0 1em;
}
.title {
  font-family: 'Gloria Hallelujah';
  width: 100%;
  text-align: center;
  color:  #C70039;
 /*  color: #581845; #C70039;*/
}
.timeline {
  font-family: 'Shippori Antique';
}
.timeline a {
  color: red;
  text-decoration: none;
}
.timeline a:hover {
  text-decoration: underline;
}
.index-link {
  color: red;
}
.year {
  font-weight: bold;
}
.image {
  width: 48.5%;
  margin-right: 0.05em;
}

.logo img {
  width: 100%;
}

.page-title {
  margin-bottom: 1em;
}
